* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 109vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(3.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon {
    width: 200px;
    color: white;
}

.logo {
    color: darkgray;
    font-size: 35px;
    padding-left: 20px;
    padding-top: 10px;
}

.menu {
    width: 400px;
    height: 70px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

ul li {
    margin-left: 30px;
    font-size: 14px;
    white-space: nowrap;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: darkgray;
}

.search {
    width: 330px;
    display: flex;
    align-items: center;
    gap: 0;
}

.srch {
    font-family: 'Times New Roman', serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid darkgray;
    margin-top: 13px;
    color: beige;
    font-size: 16px;
    padding: 10px;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #D4AF37;
    border: 2px solid #D4AF37;
    margin-top: 13px;
    color: whitesmoke;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.btn:focus,
.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    margin: auto;
    color: #fff;
    padding-top: 50px;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman', serif;
    font-size: 50px;
    padding-left: 20px;
    letter-spacing: 2px;
}

.content .cn {
    width: 200px;
    height: 40px;
    background: grey;
    border: none;
    margin: 20px 0 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.content .cn a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

.cn:hover {
    background-color: aliceblue;
}

.content span {
    color: gray;
    font-size: 60px;
} 

.form{
  width: 250;
  height: 380;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
  position: absolute;
  top: -5px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;

}

.form h2{
  width:220px;
  font-family: sans-serif;
  text-align: center;
  color:grey;
  font-size: 22px;
  background-color: rgb(153, 206, 188);
  border-radius: 10px;
  margin: 2px;
  padding: 8px;

}

.form input{
  width:240px;
  height: 35px;
  background:transparent ;
  border-top: none;
  border-right: none;
  border-left: none;
  color: bisque;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;

}

.form input:focus{
  outline: none;
}

::placeholder{
    color:#fff;
    font-family: Arial;

}

.btnn{
    width: 240px;
    height: 40px;
    background: rgb(133, 130, 76);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;

}

.btnn:hover{
    background: grey;
    color: #D4AF37;
}
 .btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;

}
.form .link{
    font-family: Arial,Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: grey;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    
}
/* Fake Prompt CSS */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}







